---
import "./styles/hallozine2022.css";
import BaseLayout from "../../../layouts/BaseLayout.astro";
---

<BaseLayout hasFooter={false} darkBG={true}>
  <div>
    <div class="App-header">
      <h1>Hallozine 2022</h1>
    </div>
    <div class="hallozineoutlet"></div>
    <img
      src="https://web.archive.org/web/20090808185522/http://www.geocities.com/halloween2001tesla/ANIcastleL_.gif"
      class="hallozineimage"
    />

    <div class="hallozinelanding">
      <ul class="hallozinelanding">
        <li>
          <a href={`${Astro.url.pathname}/pieces/Philipsorenson`}>Philip Sorenson</a>
        </li>
        <li><a href={`${Astro.url.pathname}/pieces/Elf`}>Elana Lev Friedland</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Avahofmann`}>Ava Hofmann</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Mforajter`}>M. Forajter</a></li>
        <li>
          <a href={`${Astro.url.pathname}/pieces/Stephanielanesutton`}>Stephanie Lane Sutton</a>
        </li>
        <li><a href={`${Astro.url.pathname}/pieces/Saramatson`}>Sara Matson</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Quinnrennerfeldt`}>Quinn Rennerfeldt</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Joebielecki`}>Joe Bielecki</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Ashelyadams`}>Ashely Adams</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Simonbrown`}>Simon Brown</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Laurapaul`}>Laura Paul</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Rb`}>R. Daniel Brown</a></li>
        <li><a href={`${Astro.url.pathname}/pieces/Orifienberg`}>Ori Fienberg</a></li>
      </ul>
    </div>
  </div>
</BaseLayout>
